<table class="table table-bordered table-striped">

    <thead>
        <tr>
            <th>Course Code</th>
            <th>Course Description</th>
        </tr>
    </thead>

    <tbody>
        @try
        {
            @foreach (Course eachCourse in Model.Courses)
            {

                <tr>
                    <td>@eachCourse.CourseCode</td>
                    <td>@eachCourse.CourseDescription</td>
                    <td>
                        <a class="btn btn-outline-primary" asp-controller="Course" asp-action="EditCourse" asp-route-courseID="@eachCourse.CourseID">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" asp-controller="Course" asp-action="ConfirmDeleteCourse" asp-route-courseID="@eachCourse.CourseID">Delete</a>
                    </td>
                </tr>
            }
        }
        catch
        {
            @foreach (Course eachCourse in Model)
            {

                <tr>
                    <td>@eachCourse.CourseID</td>
                    <td>@eachCourse.CourseCode</td>
                    <td>@eachCourse.CourseDescription</td>
                    <td>
                        <a class="btn btn-outline-primary" asp-controller="Course" asp-action="EditCourse" asp-route-courseID="@eachCourse.CourseID">Edit</a>
                    </td>
                    <td>
                        <a class="btn btn-outline-danger" asp-controller="Course" asp-action="ConfirmDeleteCourse" asp-route-courseID="@eachCourse.CourseID">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>


</table>